{% extends 'education/base.html' %}

{% block detail %}
	<div align="right" class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Фільтр
		</button>

		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="{% url 'courses_list_url' %}">Всі</a>
			{% for month in months %}
				<a class="dropdown-item" href="{% url 'courses_filter_url' month.1 %}">{{month.0}}</a>
			{% endfor %}
			<a class="dropdown-item" href="{% url 'courses_archive_url' %}" id="archive">Архів</a>
		</div>
	</div>
{% endblock %}

{% block catalog %}
	
	{% if page %}

		{% for course in page %}
			<div class="card text-black bg-light" style="max-width: 18rem;">
				{% if course.image %}
					<img class="card-img-top" src="{{course.image.url}}">
				{% else %}
					<img class="card-img-top" src="../../media/images/you_course.png">
				{% endif %}

				{% if user.is_authenticated %}
					<div  class='card-header'>
						<a href="{% url 'course_edit_url' course.id %}" class="alert alert-primary">редагувати</a>
						<a href="{% url 'course_delete_url' course.id %}" class="alert alert-danger">видалити</a>
					</div>
				{% endif %}

				<div class="card-body">
					<h3><a href="{% url 'course_detail_url' course.id %}">{{course.name}}</a></h3>
					<p class="card-text">{{course.annotation}}</p>
				</div>
				<div class="card-footer" id='lectures_amount'>
					Кількіть лекцій - <b>{{course.lectures_number}}</b>
				</div>
				<div class="card-footer" id='start'>
					{% if course.start == "Курс розпочався" %}
						Курс вже розпочався
					{% elif course.start == "Курс завершено" %}
						Курс завершено
					{% else %}	
						Початок - {{course.start|date:"d.m H:i"}}
					{% endif %}	
				</div>
			</div>
		{% endfor %}
		
	{% else %}
		<h1 align="center">Курсів не знайдено</h1>
	{% endif %}		
{% endblock %}

{% block pagination %}
	{% include 'education/pagination.html' %}
{% endblock %}